.fit-picture {
  width: 300px;
}
.redLargeText {
  color: red;
  background-color: yellowgreen;
}

.Claire{
  color: coral;
}
.Matylda{
  color: darkblue;
}
.center{
  text-align: center;
}
.pinkcolor{
  color: pink;
  background-color: rgb(56, 0, 56);
}