.fit-picture {
  width: 300px;
}
.redLargeText {
  color: rgb(133, 37, 37);
  background-color: rgb(96, 131, 26);
}

.Claire{
  color: rgb(201, 77, 32);
}
.Matylda{
  color: rgb(20, 20, 189);
}
.center{
  text-align: center;
}
.pinkcolor{
  color: pink;
  background-color: rgb(56, 0, 56);
}